:root {
  color: #ffffffdc;

}

* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(180deg, rgba(85,9,121,1) 25%, rgba(0,93,255,1) 100%);
}

#root {
  min-height: 100vh;
  background-image: url("../public//Login1.png"),
  url("../public//Login2.png"),
  url("../public//Login3.png"),
  url("../public/stars.svg");
  background-size: cover;
}